.wrapper{
    display: grid;
    grid-template-columns:repeat(3, 20%);
    grid-auto-rows: 250%;
    grid-gap: 1em;

}
@media screen and (max-width:700px){
    grid-template-columns:repeat(3, 1fr);
}

.wrapper div{
/*    background-color: aqua;*/
    border: solid;
    background-image: None;
    background-size:contain;
    background-repeat: no-repeat;
    
    
    
/*    https://st.depositphotos.com/1005844/2751/v/950/depositphotos_27510259-stock-illustration-grunge-x.jpg*/
/*    https://st.depositphotos.com/1005844/2771/i/950/depositphotos_27712141-stock-photo-painted-red-circle.jpg*/
    
}