.wrapper{
    display: grid;
    grid-template-columns:repeat(3, 20%);
    grid-auto-rows: 250%;
    grid-gap: 1em;

}
@media screen and (max-width:700px){
    grid-template-columns:repeat(3, 1fr);
}

.wrapper div{
    color: white;
    border: 3px solid black;
    background-image: None;
    background-size:100% 100%;
    background-repeat: no-repeat;
}